<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="design.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
</head>

<body>
    <div class="item">
        <svg width="150" height="150" class="rating">
            <style>
                .path {
                    animation: 2.5s dash linear forwards
                }

                @keyframes dash {
                    to {
                        stroke-dashoffset: 70.336;
                    }
                }
            </style>
            <circle r="70" cx="75" cy="75" class="path"
                style="fill:none; stroke:#0ea5b5; stroke-width:6; stroke-dasharray:439.6; stroke-dashoffset:439.6;">
            </circle>
            <text x="40" y="90" style="font-size:xxx-large;">8.4</text>
        </svg>
        <div class="intro">
            <div class="title">
                <span
                    style="background-color:#0ea5b5;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">看过</span>
                <a href="https://movie.douban.com/subject/2131459/">机器人总动员 (2008)</a>
                <span class="fi fi-gb fib"></span>
                <span class="fi fi-us fib"></span>
                <span class="fi fi-fr fib"></span>
            </div>
            <div class="meta">
                <img src="../static/cover/movie/2131459.webp" alt="机器人总动员">
                <ul>

                    <li class="genre">
                        <span
                            style="background-color:#0ea5b5;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">科幻</span>
                            <span
                            style="background-color:#8B668B;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">动画</span>
                            <span
                            style="background-color:#8B7D7B;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">冒险</span>
                        </li>
                        <li class="info">导演: 安德鲁·斯坦顿</li>
                        <li class="info">主演: 本·贝尔特 / 艾丽莎·奈特</li>
                        <li class="date">记录于2024-11-17</li>
                    </ul>
                </div>
                <img alt='GitHub' src='https://img.shields.io/badge/good%20first%20issue-67%20open-90edf6?style=for-the-badge' height="20"/>
        </div>
    </div>
</body>

</html>