<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="design.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
</head>

<body>
    <div class="item">
        <svg width="150" height="150" class="rating">
            <style>
                .path {
                    animation: 2.5s dash linear forwards
                }

                @keyframes dash {
                    to {
                        stroke-dashoffset: 70.336;
                    }
                }
            </style>
            <circle r="70" cx="75" cy="75" class="path"
                style="fill:none; stroke:#0ea5b5; stroke-width:6; stroke-dasharray:439.6; stroke-dashoffset:439.6;">
            </circle>
            <text x="40" y="90" style="font-size:xxx-large;">8.4</text>
        </svg>
        <div class="intro">
            <div class="title">
                <span
                    style="background-color:#0ea5b5;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">看过</span>
                <a href="https://movie.douban.com/subject/2131459/">机器人总动员 (2008)</a>
                <span class="fi fi-gb fib"></span>
                <span class="fi fi-us fib"></span>
                <span class="fi fi-fr fib"></span>
            </div>
            <div class="meta">
                <img src="../static/cover/movie/2131459.webp" alt="机器人总动员">
                <ul>
                    <li class="info">
                        <span
                            style="background-color:#0ea5b5;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">科幻</span>
                            <span
                            style="background-color:#8B668B;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">动画</span>
                            <span
                            style="background-color:#8B7D7B;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">冒险</span>
                        </li>
                        <li class="info">导演: 安德鲁·斯坦顿</li>
                        <li class="info">主演: 本·贝尔特 / 艾丽莎·奈特</li>
                        <li class="date">记录于2024-11-17</li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="item">
        <svg width="150" height="150">
            <style>.path-35943356 {animation: 2s dash-35943356 linear forwards}
                  @keyframes dash-35943356 {to {stroke-dashoffset: 439.6;}}</style>
            <circle r="70" cx="75" cy="75" class="path-35943356" style="fill:none; stroke:#bbb; stroke-width:6; stroke-dasharray:0; stroke-dashoffset:0;"></circle>
            <text x="40" y="90" style="font-size:xxx-large;">0.0</text>
          </svg>        
          <div class="intro">
          <div class="title">
            <span style="background-color:#23dbee;padding:4px 8px;list-style:outside none none;text-align:center;border-radius:5px;">在看</span>
            <a href="https://movie.douban.com/subject/35943356/">地。―关于地球的运动― (2024)</a>
            <span class="fi fi-jp fib"></span>
          </div>
          <div class="meta">
            <img src="../static/cover/movie/35943356.webp" alt="地。―关于地球的运动―"/>
            <ul>
              <li class="info">
                <span style="background-color:#6E8B3D;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">剧情</span>
                <span style="background-color:#8B7500;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">动画</span>
                <span style="background-color:#8B2252;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">历史</span>
              </li>
              <li class="info">导演: 清水健一</li>
              <li class="info">主演: 坂本真绫 / 速水奖</li>
              <li class="date">记录于2024-10-06</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item">
        <svg width="150" height="150">
          <style>.path-36838216 {animation: 2s dash-36838216 linear forwards}
          @keyframes dash-36838216 {to {stroke-dashoffset: 439.6;}}</style>
          <circle r="70" cx="75" cy="75" class="path-36838216" style="fill:none; stroke:#bbb; stroke-width:6; stroke-dasharray:0; stroke-dashoffset:0;"></circle>
          <text x="40" y="90" style="font-size:xxx-large;">0.0</text>
        </svg>
        <div class="intro">
          <div class="title">
            <span style="background-color:#90edf6;padding:4px 8px;list-style:outside none none;text-align:center;border-radius:5px;">想看</span>
            <a href="https://movie.douban.com/subject/36838216/">香格里拉·开拓异境～粪作猎手挑战神作～ 2nd season (2024)</a>
            <span class="fi fi-jp fib"></span>
          </div>
          <div class="meta">
            <img src="../static/cover/movie/36838216.webp" alt="香格里拉·开拓异境～粪作猎手挑战神作～ 2nd season">
            <ul>
              <li class = "info">
                <span style="background-color:#8B4789;color:#fff;padding:4px 4px;text-align:center;border-radius:6px;">动画</span>
              </li>
              <li class="info">导演: 洼冈俊之 / 池下博纪 / 日浦玲奈 / 星野玲香 / 高桥知也 / 野辺勇紀 / 山杢光 / 藤田亜紀子</li>
              <li class="info">主演: 内田雄马 / 和气杏未</li>
              <li class="date">记录于2024-10-02</li>
            </ul>
          </div>
        </div>
      </div>
</body>

</html>