@use "search_bar";
@use "dialog";
@use 'grid_item';
@use 'logo';
* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 54px 1fr 45px;
  grid-template-areas: "header header" "sidenav main" "footer footer";
  height: 100vh;

  .header {
    grid-area: header;
    background-color: #fff;
    padding: 6px 0px 6px 10px;
    display: flex;
  }

  .main {
    grid-area: main;
    background-color: #faf9f8;
    padding-left: 40px;
    padding-right: 32px;
    max-width: calc(100vw - 400px);
    max-height: calc(100vh - 100px);
    overflow: auto;
  }

  .footer {
    grid-area: footer;
    background-color: #f3f2f1;
    padding: 12px 10px;
  }

  .sidenav {
    grid-area: sidenav;
    background-color: #fff;
    padding: 25px;
  }
}