    * {
        font: 400 13px/21.06px Helvetica, Arial, sans-serif
    }

    .info,
    .pic {
        display: table-cell;
        float: none;
        vertical-align: top;
        font: 400 13px/21.06px Helvetica, Arial, sans-serif
    }

    .badge,
    img {
        color: #fff
    }

    .item.comment-item {
        display: table;
        overflow: visible;
        width: 675px;
        zoom: 1;
        margin: 0 0 20px;
        padding: 0 0 5px;
        word-break: break-word
    }

    .pic {
        margin: 0 -1300px 0 0
    }

    li.intro {
        margin: 0 -5px 6px;
        clear: both;
        list-style: none
    }

    img {
        max-width: 150%;
        vertical-align: middle;
        cursor: pointer;
        text-decoration-color: rgb(255, 255, 255);
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        background: rgba(0, 0, 0, 0)
    }

    ul {
        margin: 0 0 0 13px;
        list-style: none
    }

    .title {
        background: #f2f4f6;
        padding: 3px 55px 1px;
        font: 400 14px/22.68px Helvetica, Arial, sans-serif
    }

    li.intro {
        display: flow-root;
        overflow: hidden;
        text-overflow: ellipsis
    }

    li {
        clear: both;
        list-style: none
    }

    .badge {
        background-color: red;
        padding: 4px 8px;
        text-align: center;
        border-radius: 5px
    }

    .date {
        width: 104px;
        list-style: outside none none;
        color: rgb(187, 187, 187);
    }